.nav-link {
    color: rgb(121, 174, 228);
}

h1 {
    color: rgb(121, 174, 228);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

footer{
    min-height: 200px;
}